{% extends "base.html" %}

{% block content %}

<h2>{{product.name}}</h2>
<h3>{{product.price}}</h3>
<p>{{product.description}}</p>
<p>date de peremption {{product.peremption_date}}</p>
<p>{{product.quantity}} en stock</p>

{% if user.is_authenticated %}

<p>
    <a href="{% url "add-to-cart" product.slug %}">
        Ajouter dans le panier
    </a>

    <a href="{% url "delete-product" product.slug %}">
        Supprimer l'article
    </a>

    <a href="modify/">
        Modifier l'article
    </a>
</p>

{% endif %}

{% endblock  %}